@import url('https://fonts.googleapis.com/css2?family=Gaegu:wght@300;400;700&display=swap');

* {
    font-family: 'Gaegu', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.466);
    height: 100vh;
    margin: 0;
    background-color: sky;
    background-size: cover;
    background-image: url("./images/cloud.jpeg");
}

main {
    justify-content: center;
    
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    font-size: 25px;
}

nav {
    margin-right: 10px;
}

h1 {
    color: #ffffff;
    text-shadow: #000000 0px 0px 7px;
    
}

.container {
    width: 450px;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: rgba(232, 231, 231, 0.323);
    color: #000000;
    text-shadow: #ffffff 2px 2px 7px;
    max-width: 60%;
    max-height: 60%;

    padding: 20px;
    box-shadow: 0 0 100px rgb(62, 111, 216);
    font-size: 20px;
    position: relative; 
    overflow: hidden; 
}

.weather-container {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.weather-details {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.weather-info,
.weather-forecast {
    flex: 1;
    padding: 10px;
    text-align: center;
    
}

#weather-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

button {
    margin-top: 10px;
    padding: 10px 20px;
    border-radius: 2rem;
    cursor: pointer;
    background-color: white;
    border: #3d6fde 3px outset;
    color: #3d6fde;
    font-size: 18px;
}

button:hover {
    background-color: #3d6fde;
    border: white 3px outset;
    color: white;
    scale: 110%;
    transition: 1000ms;
}

input {
    font-size: 16px;
    padding: 5px;
    padding-left: 10px;
    margin: 15px;
    border-radius: 2rem;
    /* text-align: center; */
}

#bgImage {
    position: absolute;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1; 
}


.hidden-image {
    display: none;
}

footer {
    display: flex;
    flex-direction: column;
    padding: 1.2rem;
    border-radius: 0.5rem;
    background-color: rgba(232, 231, 231, 0.323);
    width: 20%;
    height: 20vw;
    height: 40px;
    justify-content: center;
    border-radius: 50%;
    text-align: center;
    font-size: 10px;
    margin-top: 250px;
    position: sticky;
    bottom: 10px;
  }
  
  footer:hover {
    transition: 1000ms;
  }
  
  .made-by,
  .author {
    font-size: 0.9rem;
  }
  
  .made-by {
    cursor: default;
  }
  
  .author {
    font-weight: bold;
    cursor: pointer;
  }
  
  .author:hover {
    color: #fff;;
    transition: 1000ms;
    scale: 110%;
    text-decoration: underline;
    text-underline-offset: 0.25rem;
  }